@foreach (var item in ViewBag.Posts)
{
    <div class="cloud">
        <div class="postLogo">
            <a href="/ScienceClubs/Details/@item.ScienceClubID">
                <img src="@ViewBag.Logo" class="logo-sm" />
            </a>
        </div>
        <div class="postInfo">
            <span class="font-weight-bold">@item.Title</span><br />
            <span>@item.PublicationDay.ToString("dddd, dd MMMM yyyy HH:mm")</span>
        </div>
        <div class="postText mt-4" style="white-space: pre-line">
            @Html.Raw(item.Text)
        </div>
        <div class="postImg">
            <img src="@item.Img" style="width:100%;"/>
        </div>
    </div>
}