@model ScienceBook.Web.Models.DbModels.Member

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName + " - ScienceBook";
}

<div class="profileInfo">
    <div class="profileLogo">
        <span style="float:left;">
            @if (Model.Logo != null)
            {
                <img src="@Model.Logo" />
            }
            else
            {
                <img src="https://avatars.dicebear.com/api/avataaars/@( Model.FirstName + Model.LastName ).svg" />
            }
            </span>
        <span class="profileName mt-6 ml-2">
            <span class="font-weight-bold h4">@Model.FirstName @Model.LastName</span>
            <span class="font-italic">@Model.Username</span>
        </span>
    </div>
    <div class="profileButtons mt-7">

    </div>
</div>
<div class="profileContainer">
    <div class="profileSidebar">
        <div class="cloud">
            <h3>Informacje ogólne</h3>
            <div>
                <i class="fas fa-graduation-cap"></i>
                Studiuje kierunek o profilu:
                <span class="respect">@Model.FieldOfStudy.Name</span>
            </div>
            <div>
                <i class="fas fa-briefcase"></i>
                Przewodniczący w:
                <span class="respect">KNSI Genbit</span>
            </div>
            <div>
                <i class="fas fa-atom"></i>
                @if (Model.ScienceClubs.Count == 1)
                {
                    <span>Należy do 1 koła naukowego</span>
                }
                else
                {
                    <span>Należy do @Model.ScienceClubs.Count kół naukowych</span>
                }
            </div>
        </div>
    </div>
    <div class="profileMain">
        <div class="cloud">
           
        </div>
    </div>
</div>