@{
    var id = 0;
}
<h2 class="subhead-heading">Nowe zgłoszenia</h2>

<div class="row underlineDiv mb-2">
    <div class="memberInfo col-md-4">
        Dane 
    </div>
    <div class="memberStat col-md-4">
        Data wpłynięcia
    </div>
    <div class="memberSettings col-md-4">
        
    </div>
</div>

@foreach (var item in ViewBag.MembershipDeclarations)
{
    <div class="row">
        <div class="memberInfo col-md-4">
            @item.Member.FirstName @item.Member.LastName (@item.Member.Username)
        </div>
        <div class="memberStat col-md-4">
            @item.DayOfCreate.ToString("d")
        </div>
        <div class="memberSettings col-md-4">
            <a href="/ScienceClubs/IssuedMembershipDeclaration/@item.ID">
                <button class="btn btn-outline-light"><i class="far fa-eye"></i></button>
            </a>
        </div>
    </div>
}

<h2 class="subhead-heading">Członkowie</h2>

<div class="row underlineDiv mb-2">
    <div class="memberInfo col-md-4">
        Dane
    </div>
    <div class="memberStat col-md-4">
        Statystki
    </div>
    <div class="memberSettings col-md-4">
        Rola
    </div>
</div>

@foreach (var item in ViewBag.Members)
{
    <div class="row">
        <div class="memberInfo col-md-4">
            @item.FirstName @item.LastName (@item.Username)
        </div>
        <div class="memberStat col-md-4">
            <i class="fas fa-thumbs-up"></i> 0
            <i class="fas fa-comments ml-3"></i> 0
            <i class="fas fa-file-alt ml-3"></i> 0
        </div>
        <div class="memberSettings col-md-4">
            <select name="Role" id="roleMember @item.ID" class="form-control" onchange="updateRole(@item.ID)">
                @foreach (var item2 in ViewBag.Roles)
                {
                    if (ViewBag.MembersRole[id].Equals(item2.Name))
                    {
                        <option value="@item2.Name" selected="selected">@item2.Name</option>
                    }
                    else
                    {
                        <option value="@item2.Name">@item2.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    id++;
}