@using ScienceBook.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "ScienceBook - Logowanie";
}
<div class="wrapperLogin fadeInDown">
    <div id="formContent">
        <h2 class="active">Zaloguj się</h2>

        <div class="fadeIn first">
            <i class="fas fa-users" id="icon"></i>
        </div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Email, new { @class = "fadeIn second", placeholder = "E-mail" })
            @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", placeholder = "Hasło" })
            <input type="submit" class="fadeIn fourth" value="Zaloguj się" />

            <div id="formFooter">
                @Html.ActionLink("Jesteś tu nowy? Zarejestruj się!", "Register", "Account", new { @class = "underlineHover" })
                <a class="underlineHover" href="#">Zapomniałeś hasła?</a>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}