@model ScienceBook.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "ScienceBook - Rejestracja";
}
    <div class="wrapperLogin fadeInDown">
        <div id="formContent">
            <h2 class="active">Zarejestruj się</h2>

            <div class="fadeIn first">
                <i class="fas fa-users" id="icon"></i>
            </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "fadeIn second", placeholder = "E-mail" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "fadeIn second", placeholder = "Imię" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "fadeIn second", placeholder = "Nazwisko" })
                @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", placeholder = "Hasło" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "fadeIn third", placeholder = "Powtórz hasło" })
                <input type="submit" class="fadeIn fourth" value="Zaloguj się" />
            }
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
