@model ScienceBook.Web.Models.ViewModels.ScienceClubViewModel

@{
    ViewBag.Title = Model.ScienceClub.Name + " - ScienceClub";
}

<div class="clubProfile">
    <div class="info row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="clubLogo">
                <img src="@ViewBag.Logo" />
            </div>
            <div class="clubName">
                <div class="name">
                    @Model.ScienceClub.Name
                </div>
                <div class="category">
                    @Model.ScienceClub.CategoryOfScienceClub.Name
                </div>
            </div>
        </div>
        <div class="col-md-4 clubButtons">
            @if (!ViewBag.IsJoined && Request.IsAuthenticated)
            {
                <a href="/ScienceClubs/Join/@Model.ScienceClub.ID" class="btn btn-outline-warning"><i class="far fa-thumbs-up" style="margin-right:5px;"></i>Dołącz do koła</a>
            }
            else if (!ViewBag.IsJoined)
            {
                <a href='/Account/Login?returnUrl=/ScienceClubs/Details/@Model.ScienceClub.ID' class="btn btn-outline-warning"><i class="far fa-thumbs-up" style="margin-right:5px;"></i>Dołącz do koła</a>
            }
            @if (Request.IsAuthenticated)
            {
                <a href="#" class="btn btn-light btn-outline-dark"><i class="far fa-envelope" style="margin-right:5px;"></i>Wyślij wiadomość</a>
            }
        </div>
        <hr style="width:70%; margin-left:15%;" />
    </div>
    <div class="data row">
        <div class="col-md-5 row mb-2">
            <div class="cloud user_info col-md-12 mb-2">
                <h3>Informacje ogólne</h3>
                <div>
                    <i class="fas fa-university"></i>
                    Uniwersytet:
                    <span class="respect">@Model.ScienceClub.Department.University.Name</span>
                </div>
                <div>
                    <i class="fas fa-school"></i>
                    Wydział:
                    <span class="respect">@Model.ScienceClub.Department.Name</span>
                </div>
                <div data-toggle="modal" data-target="#membersList">
                    <i class="fas fa-users" id="icon"></i>
                    Liczba członków:
                    <span class="respect">@Model.ScienceClub.Members.Count</span>
                </div>
                <div class="modal fade" id="membersList" tabindex="-1" role="grid" aria-labelledby="membersListLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="membersListLabel">Lista członków koła naukowego <span class="text_orange">@Model.ScienceClub.Name</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body overflow-auto" style="height:300px;">
                                @{
                                    Html.RenderAction("GetScienceClubMembers", "Partials");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cloud col-md-12 mb-2">
                <h3 class="float-left">Zadania</h3>
                <h5><i class="fas fa-plus" data-toggle="modal" data-target="#addTask"></i></h5>
                <div class="modal fade" id="addTask" tabindex="-1" role="grid" aria-labelledby="AddTaskLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddTaskLabel">Dodaj nowe zadanie!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body overflow-auto" style="height:500px;">
                                @using (Html.BeginForm("Add", "Tasks", FormMethod.Post, new { }))
                                {
                                    <input type="hidden" id="RedirectURL" name="RedirectURL" value="/ScienceClubs/Details/@Model.ScienceClub.ID">
                                    <input type="hidden" id="ScienceClubID" name="ScienceClubID" value="@Model.ScienceClub.ID">
                                    <div class="form-group row">
                                        <label for="TaskStateID" class="col-sm-4 col-form-label">Status zadania</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly class="form-control-plaintext" id="TaskStateID" name="TaskStateID" value="Nowe" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Name" class="col-sm-4 col-form-label">Nazwa zadania</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Name" name="Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Description" class="col-sm-4 col-form-label">Opis zadania</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" id="Description" name="Description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="StartDay" class="col-sm-12 col-form-label">Czas rozpoczęcia</label>
                                            <div class="col-sm-12">
                                                <input type="date" id="StartDay" name="StartDay" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="EndDay" class="col-sm-12 col-form-label">Czas zakończenia</label>
                                            <div class="col-sm-12">
                                                <input type="date" id="EndDay" name="EndDay" value="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Member" class="col-sm-4 col-form-label">Osoba odpowiedzialna</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Member" name="Member" class="form-control" list="members" />
                                            <datalist id="members">
                                                @foreach (var item in Model.ScienceClub.Members)
                                                {
                                                    <option value="@item.FirstName @item.LastName" />
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="CategoryOfTask" class="col-sm-4 col-form-label">Piorytet zadania</label>
                                        <div class="col-sm-8">
                                            <select name="CategoryOfTask" id="CategoryOfTask" class="form-control">
                                                @foreach (var item in Model.ScienceClub.CategoriesOfTasks)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-warning" style="width: 40%;text-align: center;display: inline-block; margin-left:30%;">
                                        Dodaj
                                    </button>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @if (Model.Tasks.Count == 0)
                    {
                        <div>
                            Zarząd nie ustawił jeszcze żadnych task-ów. <br />

                            <small> Może czegoś jeszcze będą chcieli<i class="fas fa-laugh-wink"></i></small>
                        </div>
                    }
                    else
                    {
                        var task = Model.Tasks[0];
                        <div class="row">
                            @if (task.StartDay <= DateTime.Today)
                            {
                                <div class="col-md-6">

                                    @switch (task.TaskState.Name)
                                    {
                                        case "Nowe":<i class="fas fa-circle text-primary" aria-hidden="true"></i> break;
                                        case "W trakcie": <i class="fas fa-circle text-warning" aria-hidden="true"></i>break;
                                        case "Zakończone": <i class="fas fa-circle text-success" aria-hidden="true"></i>break;
                                        case "Usunięte": <i class="fas fa-circle text-dark" aria-hidden="true"></i>break;
                                    }
                                    <span class="font-italic">
                                        @task.TaskState.Name
                                    </span>
                                </div>

                                <div class="col-md-6">
                                    Do końca: @((task.EndDay - task.StartDay).ToString("dd")) dni
                                </div>
                                <div class="col-md-12">
                                    @task.Name
                                </div>
                                <div class="col-md-12">
                                    @task.Description
                                </div>
                                <div class="col-md-12">
                                    Osoba odpowiedzialna: @task.Member.Username
                                </div>
                            }
                            else
                            {
                                <div>
                                    Zadanie aktywne od dnia @task.StartDay.ToString("dd/MM") do @task.EndDay.ToString("dd/MM")
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
            <div class="cloud col-md-12">
                <h3 style="float:left">Wybory</h3>
                <h5><i class="fas fa-plus" data-toggle="modal" data-target="#addElection"></i></h5>
                <div class="modal fade" id="addElection" tabindex="-1" role="grid" aria-labelledby="AddElectionLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddElectionLabel">Dodaj nowe wybory!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body overflow-auto" style="height:500px;">
                                @using (Html.BeginForm("Add", "Elections", FormMethod.Post, new { }))
                                {
                                    <input type="hidden" id="RedirectURL" name="RedirectURL" value="/ScienceClubs/Details/@Model.ScienceClub.ID">
                                    <input type="hidden" id="ScienceClubID" name="ScienceClubID" value="@Model.ScienceClub.ID">
                                    <div class="form-group row">
                                        <label for="Name" class="col-sm-4 col-form-label">Nazwa wyborów</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="Name" name="Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DayOfStart" class="col-sm-4 col-form-label">Czas rozpoczęcia</label>
                                        <div class="col-sm-8">
                                            <input type="datetime-local" id="DayOfStart" name="DayOfStart" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DayOfEnd" class="col-sm-4 col-form-label">Czas rozpoczęcia</label>
                                        <div class="col-sm-8">
                                            <input type="datetime-local" id="DayOfEnd" name="DayOfEnd" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="CountOfChoices" class="col-sm-8 col-form-label">Maksymalna liczba oddanych głosów</label>
                                        <div class="col-sm-4">
                                            <input type="number" id="CountOfChoices" name="CountOfChoices" class="form-control" value="1" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="options" class="col-sm-4 col-form-label">Opcje głosowania</label>
                                        <div class="col-sm-8">
                                            <textarea id="options" name="options" cols="40" rows="5" class="p-1"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-sm btn-outline-dark">Podgląd</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-sm btn-warning float-right">Dodaj</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-2 shadow-sm">
                    <div class="election-count float-right pr-2 pt-1">
                        1 z 1
                    </div>
                    <div class="election-title pt-3 pl-2">
                        Wybory na przewodniczącego koła naukowego
                    </div>
                    <div class="election-options">
                        <input type="checkbox" name="electionOption" /> Kacper Jędrzejewski <br />
                        <input type="checkbox" name="electionOption" /> Wioleta Cegiełka <br />
                        <input type="checkbox" name="electionOption" /> Przemysław Bańkowski <br />
                    </div>
                    <button type="button" class="btn btn-sm btn-success">Zagłosuj</button>
                </div>
            </div>
        </div>
        <div class="cloud col-md-7 mb-2">
        </div>
    </div>
</div>
<script>
    var placeholder = 'Każdą opcję wyboru oddzielaj enterem \nOznaczyć użytkownika w wyborach możesz za pomocą \u0040';
    var ta = document.getElementById("options");

    ta.value = placeholder;
    ta.style.fontWeight = "300";

    ta.addEventListener("focus", () => {;
        if (ta.value === placeholder) {
            ta.value = "";
        }
    });

    ta.addEventListener("blur", () => {
        if (ta.value == "") {
            ta.value = placeholder;
        }
    });
</script>