@model ScienceBook.Web.Models.DbModels.ScienceClub

@{
    ViewBag.Title = Model.Name + " - Management";
}
<div class="profileInfo">
    <div class="profileLogo">
        <span style="float:left;"><img src="@ViewBag.Logo" /></span>
        <span class="profileName mt-6 ml-2">
            <span class="font-weight-bold h4">@Model.Name</span>
            <span class="font-italic">@Model.CategoryOfScienceClub.Name</span>
        </span>
    </div>
</div>
<div class="profileContainer row">
    <div class="col-md-3">
        <div class="menuSettings ml-5 mt-4">
            <a href="#" class="selected">Options</a>
            <a href="#">Manage access</a>
            <a href="#" id="members">Członkowie</a>
        </div>
    </div>
    <div class="col-md-9 mt-4" id="updateSection">
        @{
            Html.RenderAction("General", "ScienceClubManagement", new { id = Model.ID });
        }
    </div>
</div>
<script>
    var xmlHttp = new XMLHttpRequest();
    var target = document.getElementById("updateSection");
    var membersA = document.getElementById("members");
    membersA.addEventListener("click", updateSectionMembers);

    function updateSectionMembers() {
        xmlHttp.open("GET", "/ScienceClubManagement/Members?id=" + @Model.ID, false);
        xmlHttp.send(null);
        target.innerHTML = xmlHttp.responseText;
    }

    function updateRole(id) {
        var xmlHttp = new XMLHttpRequest();
        var select = document.getElementById("roleMember " + id);
        xmlHttp.open("GET", "/Members/ChangeRole?memberID=" + id + "&scienceClubID=" + @Model.ID + "&roleName=" + select.value, false);
        xmlHttp.send(null);
    }
</script>
